html {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
  margin: 0;
}

.main {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  padding: 1em;
}

h1 {
  margin: 0;

}

button {
  font-size: 1em;
  padding: .5em;
}