html {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
  margin: 0;
  background-color: hsl(50, 100%, 50%);
}

.main {
  height: 100%;
  width: 75%;
  min-width: 350px;
  margin: 0 auto;
  padding: 1em;
}

h1 {
  margin: 0;
}

button {
  position: relative;
  top: 0;
  display: block;
  box-shadow: 0 -0.2em hsla(0, 0%, 0%, 0.4) inset;
  font-weight: bold;
  text-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.2);
  border: 0;
  border-radius: .5em;
  transition: all .05s linear;
  padding: .3em;
}

button:active {
  top: 0.1em;
  box-shadow: 0 -0.1em hsla(0, 0%, 0%, 0.4) inset, 
              0 .2em .3em hsla(0, 0%, 0%, 0.1) inset;
}

button:hover {
  cursor:pointer;
}

/* button:focus {
  outline: none;
} */

.newgamebtn {
  padding: .5em;
  font-size: 1.5em;
}

.playbtn {
  font-size: 2em;
  padding: .5em;
  background-color: hsl(35, 100%, 50%);
  color: white;
}

.rollbtn {
  font-size: 2em;
  padding: .5em;
  background-color: hsl(35, 100%, 50%);
  color: white;
}

.hand-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: .5em;
}

.lower {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.hand {
  font-size: 1.5em;
  text-align: right;
  color: white;
  background-color: hsl(217, 100%, 55%);
}

.selected {
  background-color: hsl(217, 100%, 35%);
}

.played {
  background-color: hsl(0, 0%, 35%);
}

.handscore {
  min-width: 1.6em;
  height: 1em;
  float: left;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: .2em;
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.5);
  text-align: center;
  padding: .2em 0 .2em 0;
  transition: all .1s ease-out;
}

.handtitle {
  display: inline;
  vertical-align: middle;
}

.dice-container {
  display: flex;
  gap: 1em;
  margin: 1em 0;
}

.die {
  border-radius: 10%; 
  box-shadow: 3px 3px hsla(0, 0%, 0%, 0.75);
  position: relative;
  top: 0;
  transition: top .3s ease;
}

.die:hover {
  cursor: pointer;
}

.die.new {
  animation: roll .2s ease-in-out;
}

.die > svg {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  background-color: white;
  box-sizing: border-box;
}

.die.locked {
  top: -.5em;
}

circle {
  fill: white;
  transition: all .1s step-end;
}

.six>.dot1, .five>.dot1, .four>.dot1, .three>.dot1, .two>.dot1 {
  fill: black;
}

.six>.dot2, .five>.dot2, .four>.dot2 {
  fill: black;
}

.six>.dot3, .six>.dot5 {
  fill: black;
}

.five>.dot4, .three>.dot4, .one>.dot4 {
  fill: black;
}

.six>.dot6, .five>.dot6, .four>.dot6 {
  fill: black;
}

.six>.dot7, .five>.dot7, .four>.dot7, .three>.dot7, .two>.dot7 {
  fill: black;
}

@keyframes roll{
  0% {
    top: 10px;
    transform: scale(1.02);
  }
  20% {
    top: -10px;
    transform: scale(1.04);
  }
  40% {
    top: 10px;
    transform: scale(1.06);
  }
  60% {
    top: -10px;
    transform: scale(1.04);
  }
  80% {
    top: 10px;
    transform: scale(1.02);
  }
  100% {
    top: -10px;
    transform: scale(1.01);
  }
}

@media(max-width: 700px) {
  .hand-container {
    grid-template-columns: 1fr;
    grid-auto-flow: inherit;
  }

  .main {
    width: 100%;
  }
}